!!!
%html{xmlns="http://www.w3.org/1999/xhtml"}
  %head
    %title NHaml C# Sample MVC Application
    - var styleSheetRegistrar = Html.Telerik().StyleSheetRegistrar().DefaultGroup() (group) =>
      - group.Add("Site.css").Add("jquery-ui-1.7.2.custom.css").Add("SyntaxHighlighter.css").Combined(true)
    - styleSheetRegistrar.Render()
  %body
    %div.page
      #header
        #title
          %h1 Telerik Extensions for ASP.NET MVC: jQuery UI Components Demo
      #main
        - if (!ViewData.Get<bool>("isInHome"))
          %p
            - Html.jQuery().ThemeSwitcher().Name("themeSwitcher").InitialTheme("Redmond").HtmlAttributes(new { style = "float:right" }).Render();
            %br.clear
        %div.colmask.leftmenu
          %div.colleft
            %div.col1
              - if (!ViewData.Get<bool>("isInHome"))
                %h3.BottomBorderGray
                  = string.Concat(ViewContext.RouteData.GetRequiredString("controller"), " > ", ViewContext.RouteData.GetRequiredString("action"))
              #maincontent
                _
              - if (!ViewData.Get<bool>("isInHome"))
                %p
                  _ Shared\SourceCodeTabs
            %div.col2
              _ Shared\Navigation
        #footer
            
  - var scriptRegistrar = Html.Telerik().ScriptRegistrar().Scripts() (script) =>
    - script.AddGroup("syntaxHighlighter") (group) =>
      - group.Add("shCore.js").Add("shBrushCSharp.js").Add("shBrushXml.js").Combined(true)
  - scriptRegistrar.OnDocumentReady() () =>
    dp.SyntaxHighlighter.ClipboardSwf = "~/Content/clipboard.swf"
    dp.SyntaxHighlighter.HighlightAll("code");
  - scriptRegistrar.Render()